# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# VS Code / IDE
# ==============================

.vscode/
.idea/

# ==============================
# macOS
# ==============================

.DS_Store

# ==============================
# Logs
# ==============================

*.log
logs/

# ==============================
# Environment Variables
# ==============================

.env

# ==============================
# MLflow
# ==============================

mlruns/

# ==============================
# Airflow
# ==============================

airflow.db
airflow-webserver.pid
airflow-scheduler.pid
airflow.cfg
standalone_admin_password.txt

# ==============================
# DVC
# ==============================

.dvc/cache/
.dvc/tmp/

# ==============================
# Datasets
# ==============================

data/raw/

# ==============================
# Processed Data
# ==============================

data/processed/

# ==============================
# Model Artifacts
# ==============================

artifacts/
models/
*.pkl
*.joblib

# ==============================
# Evidently Reports
# ==============================

reports/
*.html

# ==============================
# Google Cloud Credentials
# ==============================

credentials.json

# ==============================
# Temporary Files
# ==============================

*.tmp
*.temp

# ==============================
# Coverage / Testing
# ==============================

.coverage
htmlcov/
.pytest_cache/

# ==============================
# Build Files
# ==============================

build/
dist/
*.egg-info/

# ==============================
# Docker
# ==============================

*.tar

# ==============================
# Streamlit
# ==============================

.streamlit/

# ==============================
# OS Generated Files
# ==============================

Thumbs.db